.text {
    font-family: Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 48px;
    padding: 24px;
}

.white {
    color: #ffffff;
}

.blue {
    color: #00ffff;
}

a:link {
    color: #00ffff;
}

a:visited {
    color: #00ffff;
}

a:hover {
    color: #00ffff;
}

a:active {
    color: #00ffff;
}